openapi: 3.2.0
info:
  title: Relm CRM Contacts API
  version: 0.17.1
  summary: API-first CRM built for LLMs and AI agents.
  description: REST surface for Relm.
  contact:
    name: Relm
    url: https://relmcrm.com/
  license:
    name: Proprietary
servers:
- url: https://api.relmcrm.com/v1
  description: Production
security:
- bearerAuth: []
- oauth2:
  - crm
tags:
- name: Contacts
paths:
  /contacts:
    get:
      tags:
      - Contacts
      operationId: listContacts
      summary: List contacts
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/IncludeDeleted'
      - name: q
        in: query
        schema:
          type: string
        description: Substring over name/email/phone/linkedin.
      - name: email
        in: query
        schema:
          type: string
      - name: company_id
        in: query
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
        description: A registered contact.type value (validated).
      responses:
        '200':
          description: Contact list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
        default:
          $ref: '#/components/responses/Problem'
    post:
      tags:
      - Contacts
      operationId: createContact
      summary: Create a contact
      description: 'Needs at least one of: a name, an identifier (email/phone/linkedin_url), a company, or a custom field. Email is unique per workspace.'
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        default:
          $ref: '#/components/responses/Problem'
  /contacts/{id}:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    get:
      tags:
      - Contacts
      operationId: getContact
      summary: Fetch a contact
      responses:
        '200':
          description: Contact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      tags:
      - Contacts
      operationId: updateContact
      summary: Update a contact
      parameters:
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactInput'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      tags:
      - Contacts
      operationId: deleteContact
      summary: Soft-delete a contact
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
        default:
          $ref: '#/components/responses/Problem'
  /contacts/{id}/restore:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    post:
      tags:
      - Contacts
      operationId: restoreContact
      summary: Restore a soft-deleted contact
      responses:
        '200':
          description: Restored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        default:
          $ref: '#/components/responses/Problem'
components:
  parameters:
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 25
        maximum: 100
      description: Page size (default 25, max 100).
    IncludeDeleted:
      name: include_deleted
      in: query
      schema:
        type: boolean
      description: Include soft-deleted rows.
    IfMatch:
      name: If-Match
      in: header
      schema:
        type: string
      description: The record's current version for optimistic concurrency; a mismatch returns 412 version_conflict.
    Cursor:
      name: cursor
      in: query
      schema:
        type: string
      description: Opaque keyset cursor from a prior next_cursor.
    IdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      schema:
        type: string
      description: 'Safely retry a create: same key + same body replays the original result.'
  responses:
    Problem:
      description: RFC-9457 problem+json error.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    ContactList:
      allOf:
      - $ref: '#/components/schemas/ListMeta'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/Contact'
    Problem:
      type: object
      description: RFC-9457 error. Closed-set rejections carry valid_options + suggestion so an agent self-corrects.
      properties:
        type:
          type: string
          format: uri
          example: https://relmcrm.com/errors/unknown_value
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        code:
          type: string
          example: unknown_value
        field:
          type: string
        valid_options:
          type: array
          items:
            type: string
        suggestion:
          type: string
        request_id:
          type: string
    ContactInput:
      type: object
      description: At least one of name / email / phone / linkedin_url / company_id / a custom field.
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        phone:
          type: string
        linkedin_url:
          type: string
        type:
          type: string
        company_id:
          type: string
        custom_fields:
          type: object
    Contact:
      type: object
      properties:
        id:
          type: string
          example: con_...
        object:
          type: string
          const: contact
        first_name:
          type:
          - string
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        linkedin_url:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        company_id:
          type:
          - string
          - 'null'
        custom_fields:
          type: object
        version:
          type: integer
        mode:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        deleted:
          type: boolean
    Deleted:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        deleted:
          type: boolean
    ListMeta:
      type: object
      properties:
        object:
          type: string
          const: list
        has_more:
          type: boolean
        next_cursor:
          type:
          - string
          - 'null'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Workspace-scoped API key. relm_live_... (live) or relm_test_... (free, isolated test mode). Mint at https://app.relmcrm.com/.
    oauth2:
      type: oauth2
      description: 'OAuth 2.1 with PKCE (S256) and dynamic client registration (RFC 7591). Live mode only; test mode is API-key only. Discovery: /.well-known/oauth-authorization-server.'
      flows:
        authorizationCode:
          authorizationUrl: https://api.relmcrm.com/oauth/authorize
          tokenUrl: https://api.relmcrm.com/oauth/token
          refreshUrl: https://api.relmcrm.com/oauth/token
          scopes:
            crm: Read and write the connected Relm workspace
