openapi: 3.2.0
info:
  title: Relm CRM Activities API
  version: 0.17.1
  summary: API-first CRM built for LLMs and AI agents.
  description: REST surface for Relm.
  contact:
    name: Relm
    url: https://relmcrm.com/
  license:
    name: Proprietary
servers:
- url: https://api.relmcrm.com/v1
  description: Production
security:
- bearerAuth: []
- oauth2:
  - crm
tags:
- name: Activities
paths:
  /activities:
    get:
      tags:
      - Activities
      operationId: listActivities
      summary: List activities
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/IncludeDeleted'
      - name: contact_id
        in: query
        schema:
          type: string
      - name: deal_id
        in: query
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
        description: A registered activity.type value (validated).
      responses:
        '200':
          description: Activity list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityList'
        default:
          $ref: '#/components/responses/Problem'
    post:
      tags:
      - Activities
      operationId: createActivity
      summary: Log an activity (attach to a contact and/or deal)
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        default:
          $ref: '#/components/responses/Problem'
  /activities/{id}:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    get:
      tags:
      - Activities
      operationId: getActivity
      summary: Fetch an activity
      responses:
        '200':
          description: Activity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      tags:
      - Activities
      operationId: updateActivity
      summary: Update an activity
      parameters:
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityInput'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      tags:
      - Activities
      operationId: deleteActivity
      summary: Soft-delete an activity
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
        default:
          $ref: '#/components/responses/Problem'
  /activities/{id}/restore:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    post:
      tags:
      - Activities
      operationId: restoreActivity
      summary: Restore an activity
      responses:
        '200':
          description: Restored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        default:
          $ref: '#/components/responses/Problem'
components:
  parameters:
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 25
        maximum: 100
      description: Page size (default 25, max 100).
    IncludeDeleted:
      name: include_deleted
      in: query
      schema:
        type: boolean
      description: Include soft-deleted rows.
    IfMatch:
      name: If-Match
      in: header
      schema:
        type: string
      description: The record's current version for optimistic concurrency; a mismatch returns 412 version_conflict.
    Cursor:
      name: cursor
      in: query
      schema:
        type: string
      description: Opaque keyset cursor from a prior next_cursor.
    IdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      schema:
        type: string
      description: 'Safely retry a create: same key + same body replays the original result.'
  responses:
    Problem:
      description: RFC-9457 problem+json error.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    ActivityInput:
      type: object
      description: Must attach to a contact_id and/or deal_id.
      properties:
        type:
          type: string
          description: A registered activity.type (note/email/call/meeting/task/...).
        body:
          type: string
        contact_id:
          type: string
        deal_id:
          type: string
        occurred_at:
          type: string
          description: ISO datetime; backdates imported history.
        custom_fields:
          type: object
    Problem:
      type: object
      description: RFC-9457 error. Closed-set rejections carry valid_options + suggestion so an agent self-corrects.
      properties:
        type:
          type: string
          format: uri
          example: https://relmcrm.com/errors/unknown_value
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        code:
          type: string
          example: unknown_value
        field:
          type: string
        valid_options:
          type: array
          items:
            type: string
        suggestion:
          type: string
        request_id:
          type: string
    Deleted:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        deleted:
          type: boolean
    ListMeta:
      type: object
      properties:
        object:
          type: string
          const: list
        has_more:
          type: boolean
        next_cursor:
          type:
          - string
          - 'null'
    ActivityList:
      allOf:
      - $ref: '#/components/schemas/ListMeta'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/Activity'
    Activity:
      type: object
      properties:
        id:
          type: string
          example: act_...
        object:
          type: string
          const: activity
        type:
          type: string
        body:
          type:
          - string
          - 'null'
        contact_id:
          type:
          - string
          - 'null'
        deal_id:
          type:
          - string
          - 'null'
        occurred_at:
          type: string
        custom_fields:
          type: object
        version:
          type: integer
        mode:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        deleted:
          type: boolean
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Workspace-scoped API key. relm_live_... (live) or relm_test_... (free, isolated test mode). Mint at https://app.relmcrm.com/.
    oauth2:
      type: oauth2
      description: 'OAuth 2.1 with PKCE (S256) and dynamic client registration (RFC 7591). Live mode only; test mode is API-key only. Discovery: /.well-known/oauth-authorization-server.'
      flows:
        authorizationCode:
          authorizationUrl: https://api.relmcrm.com/oauth/authorize
          tokenUrl: https://api.relmcrm.com/oauth/token
          refreshUrl: https://api.relmcrm.com/oauth/token
          scopes:
            crm: Read and write the connected Relm workspace
