openapi: 3.2.0
info:
  title: Relm CRM Automations API
  version: 0.17.1
  summary: API-first CRM built for LLMs and AI agents.
  description: REST surface for Relm.
  contact:
    name: Relm
    url: https://relmcrm.com/
  license:
    name: Proprietary
servers:
- url: https://api.relmcrm.com/v1
  description: Production
security:
- bearerAuth: []
- oauth2:
  - crm
tags:
- name: Automations
paths:
  /automations:
    get:
      tags:
      - Automations
      operationId: listAutomations
      summary: List automations
      responses:
        '200':
          description: Automations
          content:
            application/json:
              schema:
                type: object
        default:
          $ref: '#/components/responses/Problem'
    post:
      tags:
      - Automations
      operationId: createAutomation
      summary: 'Create a single-step rule: when [if ] then'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutomationInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
        default:
          $ref: '#/components/responses/Problem'
  /automations/{id}:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    get:
      tags:
      - Automations
      operationId: getAutomation
      summary: Fetch an automation
      responses:
        '200':
          description: Automation
          content:
            application/json:
              schema:
                type: object
        default:
          $ref: '#/components/responses/Problem'
    patch:
      tags:
      - Automations
      operationId: setAutomationEnabled
      summary: Enable or disable an automation (only `enabled` is patchable)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - enabled
              properties:
                enabled:
                  type: boolean
      responses:
        '200':
          description: Automation
          content:
            application/json:
              schema:
                type: object
        default:
          $ref: '#/components/responses/Problem'
    delete:
      tags:
      - Automations
      operationId: deleteAutomation
      summary: Delete an automation
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
        default:
          $ref: '#/components/responses/Problem'
  /automations-capabilities:
    get:
      tags:
      - Automations
      operationId: automationsCapabilities
      summary: Valid trigger events, condition ops, action types and channels
      responses:
        '200':
          description: Capabilities
          content:
            application/json:
              schema:
                type: object
        default:
          $ref: '#/components/responses/Problem'
components:
  responses:
    Problem:
      description: RFC-9457 problem+json error.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    AutomationInput:
      type: object
      required:
      - name
      - trigger_event
      - actions
      properties:
        name:
          type: string
        trigger_event:
          type: string
          enum:
          - contact.created
          - contact.updated
          - deal.created
          - deal.updated
          - deal.stage_changed
        conditions:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              op:
                type: string
              value: {}
        actions:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - send_email
                - send_message
                - create_activity
                - move_deal_stage
                - set_field
        enabled:
          type: boolean
    Problem:
      type: object
      description: RFC-9457 error. Closed-set rejections carry valid_options + suggestion so an agent self-corrects.
      properties:
        type:
          type: string
          format: uri
          example: https://relmcrm.com/errors/unknown_value
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        code:
          type: string
          example: unknown_value
        field:
          type: string
        valid_options:
          type: array
          items:
            type: string
        suggestion:
          type: string
        request_id:
          type: string
    Deleted:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        deleted:
          type: boolean
  parameters:
    IdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Workspace-scoped API key. relm_live_... (live) or relm_test_... (free, isolated test mode). Mint at https://app.relmcrm.com/.
    oauth2:
      type: oauth2
      description: 'OAuth 2.1 with PKCE (S256) and dynamic client registration (RFC 7591). Live mode only; test mode is API-key only. Discovery: /.well-known/oauth-authorization-server.'
      flows:
        authorizationCode:
          authorizationUrl: https://api.relmcrm.com/oauth/authorize
          tokenUrl: https://api.relmcrm.com/oauth/token
          refreshUrl: https://api.relmcrm.com/oauth/token
          scopes:
            crm: Read and write the connected Relm workspace
