openapi: 3.2.0
info:
  title: Relmcrm Com Batch API
  version: 0.17.1
  contact:
    name: Relm
    url: https://relmcrm.com/
  license:
    name: Proprietary
  description: 'Operations tagged Batch across 2 of this provider''s published API definitions: relmcrm-com-openapi.json, relmcrm-com-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.relmcrm.com/v1
  description: Production
security:
- bearerAuth: []
- oauth2:
  - crm
tags:
- name: Batch
paths:
  /batch:
    post:
      tags:
      - Batch
      operationId: batch
      summary: Run up to 100 record writes in one call (event-silent; metered per op)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - operations
              properties:
                operations:
                  type: array
                  maxItems: 100
                  items:
                    type: object
                    properties:
                      object:
                        type: string
                        enum:
                        - contact
                        - company
                        - deal
                        - activity
                      method:
                        type: string
                        enum:
                        - create
                        - update
                        - delete
                      data:
                        type: object
                      patch:
                        type: object
                      id:
                        type: string
      responses:
        '200':
          description: Per-op results (partial success)
          content:
            application/json:
              schema:
                type: object
        default:
          $ref: '#/components/responses/Problem'
    servers:
    - url: https://api.relmcrm.com/v1
      description: Production
components:
  responses:
    Problem:
      description: RFC-9457 problem+json error.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    Problem:
      type: object
      description: RFC-9457 error. Closed-set rejections carry valid_options + suggestion so an agent self-corrects.
      properties:
        type:
          type: string
          format: uri
          example: https://relmcrm.com/errors/unknown_value
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        code:
          type: string
          example: unknown_value
        field:
          type: string
        valid_options:
          type: array
          items:
            type: string
        suggestion:
          type: string
        request_id:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Workspace-scoped API key. relm_live_... (live) or relm_test_... (free, isolated test mode). Mint at https://app.relmcrm.com/.
    oauth2:
      type: oauth2
      description: 'OAuth 2.1 with PKCE (S256) and dynamic client registration (RFC 7591). Live mode only; test mode is API-key only. Discovery: /.well-known/oauth-authorization-server.'
      flows:
        authorizationCode:
          authorizationUrl: https://api.relmcrm.com/oauth/authorize
          tokenUrl: https://api.relmcrm.com/oauth/token
          refreshUrl: https://api.relmcrm.com/oauth/token
          scopes:
            crm: Read and write the connected Relm workspace
x-refined-from:
- relmcrm-com-openapi.json
- relmcrm-com-openapi.yml
