openapi: 3.2.0
info:
  title: Relmcrm Com Companies API
  version: 0.17.1
  contact:
    name: Relm
    url: https://relmcrm.com/
  license:
    name: Proprietary
  description: 'Operations tagged Companies across 2 of this provider''s published API definitions: relmcrm-com-openapi.json, relmcrm-com-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.relmcrm.com/v1
  description: Production
security:
- bearerAuth: []
- oauth2:
  - crm
tags:
- name: Companies
paths:
  /companies:
    get:
      tags:
      - Companies
      operationId: listCompanies
      summary: List companies
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/IncludeDeleted'
      - name: q
        in: query
        schema:
          type: string
      - name: domain
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Company list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyList'
        default:
          $ref: '#/components/responses/Problem'
    post:
      tags:
      - Companies
      operationId: createCompany
      summary: Create a company (name required)
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        default:
          $ref: '#/components/responses/Problem'
    servers:
    - url: https://api.relmcrm.com/v1
      description: Production
  /companies/{id}:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    get:
      tags:
      - Companies
      operationId: getCompany
      summary: Fetch a company
      responses:
        '200':
          description: Company
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      tags:
      - Companies
      operationId: updateCompany
      summary: Update a company
      parameters:
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyInput'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      tags:
      - Companies
      operationId: deleteCompany
      summary: Soft-delete a company
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deleted'
        default:
          $ref: '#/components/responses/Problem'
    servers:
    - url: https://api.relmcrm.com/v1
      description: Production
  /companies/{id}/restore:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    post:
      tags:
      - Companies
      operationId: restoreCompany
      summary: Restore a company
      responses:
        '200':
          description: Restored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        default:
          $ref: '#/components/responses/Problem'
    servers:
    - url: https://api.relmcrm.com/v1
      description: Production
components:
  parameters:
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 25
        maximum: 100
      description: Page size (default 25, max 100).
    IfMatch:
      name: If-Match
      in: header
      schema:
        type: string
      description: The record's current version for optimistic concurrency; a mismatch returns 412 version_conflict.
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      schema:
        type: string
      description: 'Safely retry a create: same key + same body replays the original result.'
    IdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
    Cursor:
      name: cursor
      in: query
      schema:
        type: string
      description: Opaque keyset cursor from a prior next_cursor.
    IncludeDeleted:
      name: include_deleted
      in: query
      schema:
        type: boolean
      description: Include soft-deleted rows.
  schemas:
    Company:
      type: object
      properties:
        id:
          type: string
          example: cmp_...
        object:
          type: string
          const: company
        name:
          type: string
        domain:
          type:
          - string
          - 'null'
        custom_fields:
          type: object
        version:
          type: integer
        mode:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        deleted:
          type: boolean
    ListMeta:
      type: object
      properties:
        object:
          type: string
          const: list
        has_more:
          type: boolean
        next_cursor:
          type:
          - string
          - 'null'
    CompanyInput:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        domain:
          type: string
        custom_fields:
          type: object
    Problem:
      type: object
      description: RFC-9457 error. Closed-set rejections carry valid_options + suggestion so an agent self-corrects.
      properties:
        type:
          type: string
          format: uri
          example: https://relmcrm.com/errors/unknown_value
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        code:
          type: string
          example: unknown_value
        field:
          type: string
        valid_options:
          type: array
          items:
            type: string
        suggestion:
          type: string
        request_id:
          type: string
    CompanyList:
      allOf:
      - $ref: '#/components/schemas/ListMeta'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/Company'
    Deleted:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        deleted:
          type: boolean
  responses:
    Problem:
      description: RFC-9457 problem+json error.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Workspace-scoped API key. relm_live_... (live) or relm_test_... (free, isolated test mode). Mint at https://app.relmcrm.com/.
    oauth2:
      type: oauth2
      description: 'OAuth 2.1 with PKCE (S256) and dynamic client registration (RFC 7591). Live mode only; test mode is API-key only. Discovery: /.well-known/oauth-authorization-server.'
      flows:
        authorizationCode:
          authorizationUrl: https://api.relmcrm.com/oauth/authorize
          tokenUrl: https://api.relmcrm.com/oauth/token
          refreshUrl: https://api.relmcrm.com/oauth/token
          scopes:
            crm: Read and write the connected Relm workspace
x-refined-from:
- relmcrm-com-openapi.json
- relmcrm-com-openapi.yml
